@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-main);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(100);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 0.95;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

button {
  cursor: pointer;
}
